@{
    ViewData["Title"] = "About Us";
}

<!-- About Us -->
<div class="mt-5 container">
    <h1>About Us</h1>
    <div class="mt-3" align="left"></div>
    <h4>Bolta - Udruga za njegovanje kulturne baštine, šport i rekreaciju.</h4>
    <div class="mt-5 card">
        <div class="card-header">
            Nagrada za životno djelo
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>2016. godine Grad Požega dodijelio mu je Nagradu za životno djelo.</p>
                <footer class="blockquote-footer"> <cite title="Source Title">Source Grad Požega</cite></footer>
            </blockquote>
        </div>
    </div>
    <div class="mt-5 card">
        <div class="card-header">
            Quote
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>Tomislav Wittenberg je svojim pisanim djelima i monografijama (Puvarija, Osam generacija Thallera, Velika obitelj Lermanovih i dr.) dao vrijedan doprinos popularizaciji zavičajne povijesti. Svojim jednostavnim stilom omogućio je zainteresiranim pojedincima, a ne samo stručnjacima da ponešto saznaju o njegovim pogledima na prošlost požeškog kraja.</p>
                <footer class="blockquote-footer"> <cite title="Source Title">Source Požega.eu</cite></footer>
            </blockquote>
        </div>
    </div>
</div>

<partial name="_Team" />
<partial name="_Footer" />