@model WebShop.Models.Binding.ContactBinding
<!-- Contact Section Begin -->
<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="contact-title">
                    <h4>Contacts Us</h4>
                    <p>Contact us with your suggestions and remarks. We will be happy to read your message in order to make browsing and shopping on our site easier and better.</p>
                </div>
                <div class="contact-widget">
                    <div class="cw-item">
                        <div class="ci-icon"><i class="ti-location-pin"></i></div>
                        <div class="ci-text"><span>Address:</span><p>Cehovska 8. 34000 Požega</p></div>
                    </div>
                    <div class="cw-item">
                        <div class="ci-icon"><i class="ti-mobile"></i></div>
                        <div class="ci-text"><span>Phone:</span><p>+385 98 870 888</p></div>
                    </div>
                    <div class="cw-item">
                        <div class="ci-icon"><i class="ti-email"></i></div>
                        <div class="ci-text"><span>Email:</span><p>boltawebshop@gmail.com</p></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1">
                <div class="contact-form">
                    <div class="leave-comment">
                        <h4>Leave A Message</h4>
                        <p>Our staff will call back later and answer your questions.</p>
                        <form method="post" asp-action="Contact" class="comment-form">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <input asp-for="MessageName" type="text" placeholder="Your name">
                                    <span asp-validation-for="MessageName" class="text-danger"></span>
                                </div>
                                <div class="col-lg-6">
                                    <input asp-for="MessageEmail" type="text" placeholder="Your email">
                                    <span asp-validation-for="MessageEmail" class="text-danger"></span>
                                </div>
                                <div class="col-lg-12">
                                    <textarea asp-for="Body" placeholder="Your message"></textarea>
                                    <span asp-validation-for="Body" class="text-danger"></span>
                                    <button type="submit" class="site-btn">Send message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->
<!-- Map Section Begin -->
@*<div class="map spad">
    <div class="container">*@
<div class="map-inner">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1402.4183335089442!2d17.6760398!3d45.3319206!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475d84db74f8abfd%3A0x66603772fc561cd1!2sBolta!5e0!3m2!1sen!2shr!4v1658073901492!5m2!1sen!2shr"
            width="1900" height="550" style="border: 0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
    @*<div class="icon"><i class="fa fa-map-marker"></i></div>*@
</div>
@* </div>
</div>*@
<!-- Map Section Begin -->
<partial name="_Footer" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }