@model Microsoft.AspNetCore.Identity.IdentityRole
@{
    var title = "New Role";
}

@if (Model != null && !String.IsNullOrEmpty(Model.Id))
{
    title = "Edit Role";
    <input asp-for="@Model.Id" hidden />
}

<!-- Upsert Role -->
<div class="register-login-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="login-form">
                    <h2>@title</h2>
                </div>
                <form method="post">
                    <div class="card-body">
                        <div class="form-group">
                            <label> &nbsp; &nbsp; Id</label>
                            <input asp-for="Id" readonly class="form-control" />
                        </div>
                        <div class="form-group">
                            <label> &nbsp; &nbsp; Name</label>
                            <input asp-for="Name" type="text" class="form-control" placeholder=" Role name">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <!-- create & update -->
                    <div align="right">
                        @if (Model != null && !String.IsNullOrEmpty(Model.Id))
                        {
                        //update
                            <input type="submit" class="mt-3 primary-btn" value="Update" />
                        }
                        else
                        {
                        //create
                            <input type="submit" class="mt-3 primary-btn" value="Create" />
                        }
                        <a asp-controller="Roles" asp-action="Index" class="mt-3 secondary-btn">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }