<!-- Cart hover -->
<div class="cart-hover">
    <div class="select-items">
        <table>
            <tbody>
                <tr>
                    <td class="si-pic"><img src="/img/1997 Rudina/1997 Rudina 10.jpg" width="70px" /></td>
                    <td class="si-text">
                        <div class="product-selected">
                            <p>300.00 Kn x 1</p>
                            <h6>Rudina</h6>
                        </div>
                    </td>
                    <td class="si-close">
                        <i class="ti-close"></i>
                    </td>
                </tr>
                <tr>
                    <td class="si-pic"><img src="/img/1998 Puvarija/Puvarija 00.jpg" width="70px" /></td>
                    <td class="si-text">
                        <div class="product-selected">
                            <p>300.00 Kn x 1</p>
                            <h6>Puvarija</h6>
                        </div>
                    </td>
                    <td class="si-close">
                        <i class="ti-close"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="select-total"><span>total:</span><h5>600.00 Kn</h5></div>

    <div class="select-button">
        <a class="primary-btn view-card" href="@Url.Action("ShoppingCart", "Shop")">VIEW CARD</a>
        <a href="#" class="primary-btn checkout-btn">CHECK OUT</a>
    </div>
</div>