<!-- Carousel -->
<section class="mt-5 women-banner spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="filter-control">
                    <div class="section-title"><h2 style="color: darkgray">Best Offer</h2></div>
                    </div>

                <div class="product-slider owl-carousel">

                    <!-- 1996 Groblja Pozeske Doline -->
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="img/1996 Groblja Pozeske Doline/1996 Groblja Pozeske Doline.jpg" alt="" />
                            @*<div class="percentage"><i class="fa-solid fa-percent"></i></div>*@
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                <li class="quick-view"><a href="#"><i class="fa-solid fa-cart-plus"></i> Add To Cart</a></li>
                                <li class="w-icon active"><a href="#"><i class="fa-solid fa-heart-circle-plus"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name">T. Wittenberg</div>
                            <a href="#"><h4 style="color: darkgray">Groblja Pozeske Doline</h4></a>
                            <div class="product-price">200.00 Kn@*<span>150.00 Kn</span>*@</div>
                        </div>
                    </div>

                    <!-- 1997 Rudina -->
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="img/1997 Rudina/1997 Rudina.jpg" alt="" />
                            @*<div class="sale">Sale</div>*@
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                <li class="quick-view"><a href="#"><i class="fa-solid fa-cart-plus"></i> Add To Cart</a></li>
                                <li class="w-icon active"><a href="#"><i class="fa-solid fa-heart-circle-plus"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name">T. Wittenberg</div>
                            <a href="#"><h4 style="color: darkgray">Rudina</h4></a>
                            <div class="product-price">300.00 Kn@*<span>250.00 Kn</span>*@</div>
                        </div>
                    </div>

                    <!-- 1998 Puvarija -->
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="img/1998 Puvarija/1998 Puvarija.jpg" alt="" />
                            @*<div class="sale">Sale</div>*@
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                <li class="quick-view"><a href="#"><i class="fa-solid fa-cart-plus"></i> Add To Cart</a></li>
                                <li class="w-icon active"><a href="#"><i class="fa-solid fa-heart-circle-plus"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name">T. Wittenberg</div>
                            <a href="#"><h4 style="color: darkgray">Puvarija</h4></a>
                            <div class="product-price">300.00 Kn@*<span>250.00 Kn</span>*@</div>
                        </div>
                    </div>

                    <!-- 2002 Sesvetacki Kraj U Srcu Poljadije-->
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="img/2002 Sesvetacki Kraj U Srcu Poljadije/2002 Sesvetacki Kraj U Srcu Poljadije.jpg" alt="" />
                            @*<div class="sale">Sale</div>*@
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                <li class="quick-view"><a href="#"><i class="fa-solid fa-cart-plus"></i> Add To Cart</a></li>
                                <li class="w-icon active"><a href="#"><i class="fa-solid fa-heart-circle-plus"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name">T. Wittenberg</div>
                            <a href="#"><h4 style="color: darkgray">Sesvetački Kraj U Srcu Poljadije</h4></a>
                            <div class="product-price">300.00 Kn@*<span>250.00 Kn</span>*@</div>
                        </div>
                    </div>

                    <!-- 2011 Brestovac -->
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="/img/2011 Brestovac/2011 Brestovac.jpg" />
                            <div class="sale">Sale</div>
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                <li class="quick-view"><a href="#"><i class="fa-solid fa-cart-plus"></i> Add To Cart</a></li>
                                <li class="w-icon active"><a href="#"><i class="fa-solid fa-heart-circle-plus"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name">T. Wittenberg</div>
                            <a href="#"><h4 style="color: darkgray">Brestovac</h4></a>
                            <div class="product-price">250.00 Kn <span>300.00 Kn</span></div>
                        </div>
                    </div>

                    <!-- 2012 Smotra -->
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="/img/2012 Smotra/2012 Smotra.jpg" />
                            <div class="sale">Sale</div>
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                <li class="quick-view"><a href="#"><i class="fa-solid fa-cart-plus"></i> Add To Cart</a></li>
                                <li class="w-icon active"><a href="#"><i class="fa-solid fa-heart-circle-plus"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name">T. Wittenberg</div>
                            <a href="#"><h4 style="color: darkgray">Smotra</h4></a>
                            <div class="product-price">70.00 Kn <span>100.00 Kn</span></div>
                        </div>
                    </div>

                    <!-- 2009 Almanah Gimnazije -->
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="/img/2009 Almanah Gimnazije/2009 Almanah Gimnazije.jpg" />
                            <div class="sale">Sale</div>
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                <li class="quick-view"><a href="#"><i class="fa-solid fa-cart-plus"></i> Add To Cart</a></li>
                                <li class="w-icon active"><a href="#"><i class="fa-solid fa-heart-circle-plus"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name">T. Wittenberg</div>
                            <a href="#"><h4 style="color: darkgray">Almanah Gimnazije</h4></a>
                            <div class="product-price">150.00 Kn <span>200.00 Kn</span>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</section>
