<!-- Hero section -->
<section class="hero-section">
    <div class="hero-items owl-carousel">
        
        <!-- Rudina -->
        <div class="single-hero-items set-bg" data-setbg="img/hero-01-rudina.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <span>T. Wittenberg</span>
                        <h1>Rudina</h1>
                        <p>
                            Rudina je bila centar ili bolje rečeno središte centralne Slavonije u kojoj se spaja sve ono najbolje toga vremena.
                            'Rudina se rudila od crvenih fresaka.' - Akademik Matko Peić.
                        </p>
                        <a href="#" class="primary-btn">Shop Now</a>
                    </div>
                </div>
                @*<div class="off-card">
                    <h2><b>Sale</b><span>- 30%</span></h2>
                </div>*@
            </div>
        </div>
        
        <!-- Puvarija -->
        <div class="single-hero-items set-bg" data-setbg="img/hero-02-puvarija.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <span>T. Wittenberg</span>
                        <h1>Puvarija</h1>
                        <p>Prva cjelovita obrada sjeverno-zapadnog dijela Dilj-gore i naselja na diljskim padinama, od srednjeg vijeka do današnjih dana.</p>
                        <a href="#" class="primary-btn">Shop Now</a>
                    </div>
                </div>
               @* <div class="off-card">
                    <h2><b>Sale</b><span>- 30%</span></h2>
                </div>*@
            </div>
        </div>
        
        <!-- Almanah Gimnazije -->
        <div class="single-hero-items set-bg" data-setbg="img/hero-03.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 offset-sm-7">
                        <span>T. Wittenberg</span>
                        <h2 style="color: white">Almanah Gimnazije '48</h2>
                        <p style="color: white">Iako se pišu monografije o samo onim osobama koje su, kako se to obično kaže ‘postigle’ nešto o životu, a onda svakako da su završile gimnaziju, ja sam se opredijelio da navedem sve učenike upisnike te školske godine 1948./49.</p>
                        <a href="#" class="primary-btn float-right">Shop Now</a>
                    </div>
                </div>
                <div class="off-card">
                    <h2><b>Sale</b><span>- 25%</span></h2>
                </div>
            </div>
        </div>
    </div>
</section>