<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/logo-Bolta-icon.png">
    <title>BoltaShop</title>

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/BootswatchSlate.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/WebShop.styles.css" asp-append-version="true" />*@
    @*<link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">*@
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">

    <!-- magnific-popup.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" type="text/css">


    <!-- Toast -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />



    @RenderSection("aditionalccsSection", required: false)

</head>
<body>



    <partial name="_Header" />

    <!-- OLD header -->
    <header>
        @*<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">BoltaShop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link active" asp-controller="Home" asp-action="Index">Home<span class="visually-hidden">(current)</span></a></li>

        @if (user != null)
        {
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
        <div class="dropdown-menu">
        <a class="dropdown-item" asp-controller="ProductCategories" asp-action="Index">Category</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" asp-controller="Admin" asp-action="ProductAdministration">Product</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" asp-controller="User" asp-action="Index">User</a>
        <a class="dropdown-item" asp-controller="ApplicationUser" asp-action="Index">ApplicationUser</a>
        <a class="dropdown-item" asp-controller="Roles" asp-action="Index">Role</a>
        <a class="dropdown-item" asp-controller="Address" asp-action="Index">Address</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" asp-controller="Admin" asp-action="Orders">Orders</a>
        </div>
        </li>
        }
        <li class="nav-item">
        <a class="nav-link" asp-controller="Shop" asp-action="Index">Shop</a>
        </li>

        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" asp-controller="Shop" asp-action="Index" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Shop</a>
        <div class="dropdown-menu">
        <a class="dropdown-item" asp-controller="Shop" asp-action="ListView">ListView</a>

        </div>
        </li>

        <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="About">About</a>
        </li>
        </ul>

        <a class="nav-link" href="@Url.Action("ShoppingCart", "Shop")"><i class="fa-solid fa-cart-plus"></i> Cart</a>

        <partial name="_LoginPartial" />
        <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
        </div>
        </div>
        </nav>*@
    </header>


    @* <div class="container">
    <main role="main" class="pb-3">*@

    <!-- Add for Toast -->
    <partial name="_Notification" />

    @RenderBody()
    @*    </main>
    </div>*@





    @RenderSection("modalSection", required: false)






    <!-- foother
                <footer class="border-top footer text-muted">
                    <div class="container">
                        &copy; 2022 - BoltaShop - <a asp-area="" asp-controller="Home" asp-action="About">About</a>
                    </div>
                </footer>
            -->
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <!-- magnific-popup.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script>$(document).ready(function() { $('.popupImg').magnificPopup({ type: 'image' }); });</script>

    <script>
        $(document).ready(function() {
            var output = document.getElementById('ImagePreview');
            output.src = $("#Image").val();
        })

        $("#Image").on("change", function() {
            var output = document.getElementById('ImagePreview');
            output.src = $(this).val();
        })
    </script>

    <!-- Js Plugins -->
    @*<script src="~/js/jquery-3.3.1.min.js"></script>*@
    <script src="~/js/bootstrap.min.js">
    </script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery.countdown.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery.zoom.min.js"></script>
    <script src="~/js/jquery.dd.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>